.home {
  height: 100vh;
  background: url(../images/homepagebg.svg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", Helvetica;
}

.home nav {
  flex: 1;
  display: flex;
}

.home nav img {
  flex: 1;
  width: 200px;
  height: 100px;
  margin-left: 50px;
}

.leftlinks {
  flex: 7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 50px;
}

.leftlinks a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn {
  border-radius: 50px;
  padding: 10px 20px;
  transition-duration: .5s;
}

.whiteborder {
  background-color: white;
  color: black;
}

.redborder {
  background-color: #ff4d4d;
  color: white;
}

.btn:focus,
.btn:hover,
.btn:active {
  transform: translateY(5px);
}

.centerContent {
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.centerContent h1 {
  font-size: 3rem;
  font-weight: 700;
}

.centerContent img {
  width: 300px;
  height: 100px;
}

#flyingCode {
  position: absolute;
  top: 35vh;
  height: 20vh;
  left: 1vw;
  width: 30vw;
  font-size: 1.25vw;
  background-color: gold;
  animation: flyingcodeanim 10s linear infinite;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

@keyframes flyingcodeanim {
  0% {
    transform: rotateX(9deg) rotateY(21deg) rotateZ(341deg) scale(1) translateY(0);
  }

  50% {
    transform: rotateX(16deg) rotateY(26deg) rotateZ(341deg) scale(0.95) translateY(30px);
  }

  100% {
    transform: rotateX(9deg) rotateY(21deg) rotateZ(341deg) scale(1) translateY(0);
  }
}

#flyingImage {
  position: absolute;
  top: 35vh;
  right: 5vw;
  width: 20vw;
  animation: flyingimageanim 10s linear infinite;
}

@keyframes flyingimageanim {
  0% {
    transform: rotateX(9deg) rotateY(21deg) rotateZ(18deg) scale(1) translateY(0);
  }

  50% {
    transform: rotateX(16deg) rotateY(26deg) rotateZ(23deg) scale(0.95) translateY(30px);
  }

  100% {
    transform: rotateX(9deg) rotateY(21deg) rotateZ(18deg) scale(1) translateY(0);
  }
}


@media screen and (max-width: 768px) {
  .leftlinks {
    display: none;
    flex: 0;
  }

  .home nav img {
    margin-left: 0;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #flyingCode,
  #flyingImage {
    display: none;
  }
}