*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 206, 206);
    /* background: url('../assets/background_image.jpg'); */
    /* background-color : rgb(255, 206, 206); */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* 전체 퀴즈 크기 */
.game-quiz-container{
    width: 80vw; /* 뷰포트 너비의 80% */
    height: 60vh; /* 뷰포트 높이의 60% */
    max-width: 60rem; /* 최대 너비 제한 */
    max-height: 50rem; /* 최대 높이 제한 */

    background-color: rgb(255, 255, 245);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

/* Score : 0 / 5 Question : 1 / 10 크기 */
.game-details-container{
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 30px;
}

/* 문제 크기 */
.game-question-container{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px solid darkgray;
    background-color: beige;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: left; /* 문제텍스트를 왼쪽 정렬 */
    line-height: 1.6; /* 원하는 줄 간격 값으로 설정 */
    padding: 3px;
}

.game-options-container{
    width: 90%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    background-color: beige;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{

    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: paleturquoise;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 8rem;
    margin-left: 30px;
    margin-right: 30px;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    background-color: beige;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(143, 93, 93);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    /* -webkit-animation: fadeIn 1.2s ease-in-out; */
    animation: fadeIn 1.2s ease-in-out;
}

/* 모달 글씨 담는 컨테이너 크기 */
.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}



/* 모달 글씨 */
.modal-content-container h1, p{
    font-size: 1.3rem;
    height: 3rem;

    color: rgb(253, 255, 244);

    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: #ffc107;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }

     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

    /* 디스크립션 */
    #intro-modal-content{
        width: 90%;
        height: 25rem;
    }



    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}


.container {
    margin-bottom: 0.1%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.corn {
    margin-top: 160px;
    width: 110px;
    text-align: center;
    /* position: relative; */
    z-index: 1;
}

.day {
    width: 80px;
    margin-left: 27px;
    position: relative;
    z-index: 2;
    transform: translateY(-60px);
    white-space: nowrap;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.language{
        font-size: 700px;
        
}

.language-bash{
        width: 500px;

}
pre {
    height: 30%;
    width: 60%;


}
.run{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffc107;
}