* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}


body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 206, 206);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 최상단 로고 컨테이너 (여기부터) */
.container {
    margin-bottom: 0.1%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: grey; */
}

.corn {
    width: 50vw;
    max-width: 128px;
    text-align: center;
    /* position: relative; */
    z-index: 1;
}

.day {
    width: 80px;
    margin-left: 27px;
    position: relative;
    z-index: 2;
    transform: translateY(-60px);
    white-space: nowrap;
}

/* 최상단 로고 컨테이너 (여기까지) */


/* 퀴즈 컨테이너 */
.game-quiz-container {
    width: 80vw;
    /* 뷰포트 너비의 80% */
    max-width: 60rem;
    /* 최대 너비 제한 */
    max-height: 50rem;
    /* 최대 높이 제한 */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

/* 슬라이드, 프로그레스 바 */
/* Score : 0 / 5 Question : 1 / 10 크기 */
.game-details-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    background: #ffecb4;
    border-radius: 5px;
    transform: translateY(10px);
    box-shadow: 5px 5px darkgray;
}

.game-details-container h1 {
    font-size: 30px;
}

/* 문제 컨테이너 */
.game-question-container {
    width: 90%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: white;
    box-shadow: 5px 5px darkgray;
    border-radius: 25px;
}

.game-question-container h1 {
    font-size: 1.1rem;
    text-align: left;
    /* 문제텍스트를 왼쪽 정렬 */
    line-height: 1.6;
    /* 원하는 줄 간격 값으로 설정 */
    padding: 3px;
}

/* 이게 뭐죠? */
.game-options-container {
    width: 90%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */

}

.game-options-container span {
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    background-color: beige;
    border-radius: 20px;
    overflow: hidden;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked~.option {
    background: paleturquoise;
}

.next-button-container {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.next-button-container button {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1%;
    height: 2rem;
    border-radius: 10px;
    background: none;
    padding: 10px;
    color: rgb(25, 25, 25);
    border: none;
    font-weight: 600;
    background-color: #ffecb4;
    cursor: pointer;
    outline: none;
    box-shadow: 4px 4px darkgray;
    transition-duration: 0.3s;
}

.next-button-container button:hover {
    background-color: #ffc824;
    box-shadow: none;
    transform: translate(2px, 2px);
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* -webkit-animation: fadeIn 1.2s ease-in-out; */
    animation: fadeIn 1.2s ease-in-out;
}

/* 모달 글씨 담는 컨테이너 크기 */
.modal-content-container {
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

/* 모달 글씨 */
.modal-content-container h1,
p {
    font-size: 1.3rem;
    height: 3rem;

    color: rgb(253, 255, 244);

    text-align: center;
}

.grade-details {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p {
    color: white;
    text-align: center;
}

.modal-button-container {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: #ffc107;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}

.modal-button-container button:hover {
    background-color: rgb(83, 82, 82);
}



@media(min-width : 300px) and (max-width : 350px) {
    .game-quiz-container {
        width: 90%;
        height: 80vh;
    }

    .game-details-container h1 {
        font-size: 0.8rem;
    }

    .game-question-container h1 {
        font-size: 0.9rem;
    }

    .game-options-container span {
        width: 90%;
        height: 2.5rem;
    }

    .game-options-container span label {
        font-size: 0.8rem;
    }

    .modal-content-container {
        width: 90%;
        height: 25rem;
    }

    /* 디스크립션 */
    #intro-modal-content {
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1 {
        font-size: 1.2rem;
    }
}



@media(min-width : 350px) and (max-width : 700px) {
    .game-quiz-container {
        width: 100%;
    }

    .game-details-container h1 {
        font-size: 1rem;
    }

    .game-question-container h1 {
        font-size: 0.9rem;
    }

    .game-options-container span {
        width: 90%;
    }

    .modal-content-container {
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1 {
        font-size: 1.2rem;
    }

    .level {
        max-width: 90vw;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.language {
    font-size: 700px;
}

.run {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffc107;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

#answerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.check {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    transition-duration: .3s;
}

.codeInput {
    width: 100%;
    resize: vertical;
}

.codeWindow {
    background: rgb(25, 25, 25);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.codeWindowTitle {
    padding: 5px;
    border-radius: 10px 10px 0 0;
    color: black;
    background-color: aliceblue;
    width: min-content;
}

.codeWindowLog {
    background: #f3f3f3;
    border-radius: 0px 10px 10px 10px;
    height: 100%;
}

.run[disabled],
button[disabled] {
    background-color: gray;
    color: #ffc107;
    cursor: wait;
}

.run[disabled]:hover,
button[disabled]:hover {
    background-color: gray;
    color: #ffc107;
    cursor: wait;
}