body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    padding-top: 60px;
}

.menu_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #ffecb4;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 50px;

}

.menu_container a {
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    /* 밑줄 제거 */
    font-size: 16px;
    /* 항목 간 간격 */
    font-weight: bolder;
}

.menu_container a:hover {
    background-color: lightgray;
    color: black;
}

.menu_container img {
    width: 200px;
    height: auto;
    padding-left: 20px;
    padding-right: 30px;
}

.logout_container {
    margin-left: auto;
    white-space: nowrap;
    height: 40px;
    display: flex;
    gap: 10px;
}

.logout {
    padding: 10px;
    border: 0;
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    border-radius: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition-duration: 0.3s;
    padding-right: 5%;
}

.logout:hover {
    background-color: red;
    color: white;
}

#username {
    font-size: px;
    background: yellowgreen;
    color: white;
    font-weight: bold;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    width: max-content;
}

#admin {
    text-decoration: none;
    background: greenyellow;
    color: white;
    padding: 10px;
}

#streak {
    background: white;
    color: black;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    margin-right: 10px;
}

b#streak {
    background-color: red;
    color: white;
}

#menuL {
    display: flex;
    background-color: #ffecb4;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

#rightNav {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex: 1;
    padding-right: 30px;
}

#menuToggle {
    display: none;
    justify-self: flex-end;
}

#logoNav {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .menu_container {
        flex-direction: column;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    #logoNav {
        width: 100vw;
        background-color: #ffecb4;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #menuL {
        display: flex;
        flex-direction: column;
        background-color: #ffecb4;
        animation: slideOut 0.5s;
        transform: translateY(-50vh);
        opacity: 0;
    }

    #menuL.open {
        animation: slideIn 0.5s;
        transform: translateY(0);
        opacity: 1;
    }

    #menuToggle {
        display: block;
        cursor: pointer;
        padding: 10px;
        background-color: #ffecb4;
        border: 0;
        border-radius: 20px;
        margin: 5px;
    }

    #rightNav {
        width: calc(100vw - 10px);
    }

    #username {
        flex: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}