<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PopCode</title>
</head>

<body>
	{% if error %}
		<markee>{{ error }}</markee>
	{% endif %}
	<h1>Backend Playground</h1>
	<hr>
	<h1>Run Code</h1>
	<textarea id="codeInput"></textarea>
	<button id="codeSubmit"></button>
	<script>
		const codeSubmit = document.querySelector("#codeSubmit");
		const codeInput = document.querySelector("#codeInput");

		codeSubmit.addEventListener("click", () => {
			const code = codeInput.value;
			const lang = "python3";
			if (code) {
				fetch("api/run", {
					method: "POST",
					headers: {
						"X-CSRFToken": getCookie("csrftoken"),
					},
					body: JSON.stringify({ code: code, lang: lang }),
				})
					.then((res) => res.ok ? res.json() : console.error(res))
					.then((data) => {
						console.log(data);
					})
					.catch(console.error)
			}
		})

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	</script>

	<h1>Login</h1>
	<form action="/login" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Login</button>
	</form>

	<h1>Signup</h1>
	<form action="/signup" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" id="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Register</button>
	</form>

	<h1>Edit profile</h1>
	{% if request.session.username and request.session.token %}
		<p>	Username : {{ request.session.username }} <br>
			Token : {{ request.session.token }}</p>
		<form action="/profile" method="post">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username" value={{request.session.username}}>
			<input type="text" name="email" id="email" placeholder="Email" value={{request.session.email}}>
			<input type="password" name="password" placeholder="Current Password">
			<input type="password" name="newPassword" placeholder="New Password (keep empty to don't edit)">
			<button type="submit">Edit</button><br>
			<a href="/logout">Logout</a>
	{% else %}
		<p>You need to login to edit your profile</p>
	{% endif %}
</body>

</html>