<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PopCode</title>
</head>

<body>
	Username : {{ request.session.username }} <br>
	Token : {{ request.session.token }} <br>
	<textarea id="codeInput"></textarea>
	<button id="codeSubmit"></button>
	<script>
		const codeSubmit = document.querySelector("#codeSubmit");
		const codeInput = document.querySelector("#codeInput");

		codeSubmit.addEventListener("click", () => {
			const code = codeInput.value;
			const lang = "python3";
			if (code) {
				fetch("api/run", {
					method: "POST",
					headers: {
						"X-CSRFToken": getCookie("csrftoken"),
					},
					body: JSON.stringify({ code: code, lang: lang }),
				})
					.then((res) => res.ok ? res.json() : console.error(res))
					.then((data) => {
						console.log(data);
					})
					.catch(console.error)
			}
		})

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	</script>

	<h1>Login</h1>
	<form action="/login" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Login</button>
	</form>

	<h1>Signup</h1>
	<form action="/signup" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="email" id="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Register</button>
	</form>
</body>

</html>