{% extends "./layout.html" %}
{% load static %}

<!DOCTYPE html>
<html>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block title %}Contact{% endblock title %}
  
    <link href="{% static 'popcode/css/contact.css' %}" rel="stylesheet" />


{% block nav %}

<div class="email">
    <div id="developer1">
        <a href="mailto:sillaboratory@naver.com, huijin0904@naver.com, dreamscape1567@gmail.com">Send mail to front-end developer</a>
        <img class="Eungyeol" src="{% static 'popcode/images/bestbackgroundeverlmao.jpg' %}" alt="" />

    </div>
    <div id="developer2">
        <a href="mailto:charvin.esteban@gmail.com">Send mail to back-end developer</a>
    </div>
</div>

{% endblock nav %}