{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}homepage{% endblock %}</title>
    <!-- <link rel="stylesheet" href="homepage_globals.css" />
    <link rel="stylesheet" href="homepage_style.css" /> -->
    <link href="{% static 'popcode/css/homepage_style.css' %}" rel="stylesheet">
    <link href="{% static 'popcode/css/homepage_globals.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="element-home">
      <div class="div">
        <header class="header">
          <div class="overlap">
            <div class="base"></div>
            <div class="objects">
              <div class="overlap-group">
                <img class="elements" src="{% static 'popcode/images/popcode.svg' %}" />
                <div class="image">
                  <img class="small_popcorn" src="{% static 'popcode/images/popcorn.png' %}" />
                  <img class="CLIPBOARD-VERIFIED" src="{% static 'popcode/images/corn.png' %}"/>
                </div>
                <img class="mobile-screen" src="{% static 'popcode/images/1.png' %}" />
                <img class="img" src="{% static 'popcode/images/1.png' %}" />
              </div>
            </div>
            <div class="content">
              <a href="{% url 'login' %}">
              <button class="button"><div class="text-wrapper">Log-in</div></button></a>
              <a href="{% url 'signup' %}">
              <button class="button2"><div class="text-wrapper">Sign up</div></button></a>
              <div class="texts">
                <p class="an-enim-nullam">
                  Your altimate programming boot buddy
                </p>
                <p class="a-collaborative-time">Welcome to&nbsp;&nbsp;</p>
              </div>
            </div>
            <div class="top">
              <div class="sign-up"><div class="text-wrapper">Sign up</div></div>
              <div class="text-wrapper-2">Login</div>
              <div class="navbar">
                <div class="text-wrapper-3">Demos</div>
                <div class="text-wrapper-4">Features</div>
                <div class="text-wrapper-5">Pricing</div>
                <div class="text-wrapper-6">Contact</div>
              </div>
            </div>
            <img class="logo" src= "{% static 'popcode/images/popcode.svg' %}" />
          </div>
        </header>
        
 

        <div class="fun-fact">
          <div class="expertises-wrapper">
            <div class="expertises">
              <div class="cusomer">
                <div class="text-wrapper-7">Customer</div>
                <div class="text-wrapper-8">10k</div>
              </div>
              <div class="total-download">
                <div class="text-wrapper-7">Total Download</div>
                <div class="text-wrapper-9">30k</div>
              </div>
              <div class="active-user">
                <div class="text-wrapper-10">Active user</div>
                <div class="text-wrapper-11">15k+</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>