<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PopCode</title>
</head>

<body>
	<textarea id="codeInput"></textarea>
	<button id="codeSubmit"></button>
	<script>
		const codeSubmit = document.querySelector("#codeSubmit");
		const codeInput = document.querySelector("#codeInput");

		codeSubmit.addEventListener("click", () => {
			const code = codeInput.value;
			const lang = "python3";
			if (code) {
				fetch("api/run", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": getCookie("csrftoken"),
					},
					body: JSON.stringify({ code, lang }),
				})
					.then((res) => res.ok ? res.json() : console.error(res))
					.then((data) => {
						console.log(data);
						alert("Open devtools with f12")
					})
					.catch(console.error)
			}
		})

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
	</script>
</body>

</html>