{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <link href="{% static 'popcode/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'popcode/css/hljs.css' %}" rel="stylesheet" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <div class="menu_container">
      {{ error }}
      <img src="{% static 'popcode/images/popcode.svg' %}" />
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'settings' %}">Settings</a>
      <a href="https://cs50.harvard.edu/web/2020/weeks/0/">Reference</a>
      <a href="">link</a>
      <a href="{% url 'contact' %}">Contact</a>
    
        {% if request.session.username %}
          <p class="username">Welcome {{ request.session.username }}</p>
          {% if request.session.admin %}
            <pre>(ADMIN)</pre>
          {% endif %}
          <div class="logout_container">
          <a href="{% url 'apiLogout' %}">Log Out</a>
        {% else %}
          login or register
        {% endif %}
      </div>
    </div>
    {# <script src="{% static 'popcode/js/settings.js' %}"></script> #}
    {% block nav %}

    {% endblock %}
    <script src="{% static 'popcode/js/hljs.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad()
    </script>
  </body>
</html>
