{% extends "./layout.html" %}
{%block nav%}
<br><br><br><br>
<h1>{{lesson.title}}</h1>
<i>By {{lesson.author}}</i>
<p>{{lesson.description}}</p>
{% for part in lesson.parts %}
	<li><a href="./{{lesson.title}}/{{forloop.counter0}}">{{part.title}}</a> - <i>{{part.description}}</i></li>
{% empty %}
	<p>No chapters in this lesson</p>
{% endfor %}

{% if request.session.admin %}
	<h1>Add part to this section ?</h1>
	<form action="/createPart" method="post">
		{% csrf_token %}
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="description" placeholder="Description">
		<input type="hidden" name="lessonId" value={{lesson.title}}>
		<button type="submit">Create</button>
	</form>

{% endif %}
{% endblock nav %}