{% extends './layout.html' %}
{% load static %}

{% block title %}
  Profile - {{ user.username }} {{ requestedname }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'popcode/css/profile.css' %}" />
{% endblock %}

{% block nav %}
  <section id="profileBG">
    {% if user %}
      <div class="card">
        <img src="https://api.dicebear.com/8.x/adventurer-neutral/svg?seed={{ user.username }}" alt="" />
        <h1>{{ user.username }}</h1>
        <div class="stat">
          <span><i>🔥</i>Streak of {{ user.streak }}</span>
          <span><i>📅</i>Created the {{ created }}</span>
        </div>
        <h2>Courses</h2>
        <div id="courseList">
          {% for course in user.progress %}
            <span>{{ course }}</span>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <i>No user were found with {{ requestedname }}</i>
    {% endif %}
  </section>
{% endblock %}
