{% extends "./layout.html" %}
{% load static %}
{% block title %}quiz{% endblock title%}

{% block head %}
    <link href="{% static 'popcode/css/quiz.css' %}" rel="stylesheet">
{% endblock head %}

{% block nav %}
<script>let parts = {{part|safe}};</script>
    <script src="{% static 'popcode/js/quiz.js' %}"></script>
    <script>document.addEventListener("DOMContentLoaded",()=>{
        NextQuestion(0)
    })
</script>

<div>
    <div class="container">
        <img class="corn" src="{% static 'popcode/images/corn.png' %}"/>
        <h3 class="day">Day 2</h3>
        </div>

        <main>
            <!-- 문제 끝났을때 모달 -->
    
            <div class="modal-container" id="score-modal">
    
                <div class="modal-content-container">
    
                    <h1>Congratulations, Quiz Completed.</h1>
    
    
    
                    <div class="grade-details">
                        <p>Attempts : 5</p>
                        <p>Wrong Answers : <span id="wrong-answers"></span></p>
                        <p>Right Answers : <span id="right-answers"></span></p>
                        <p>Grade : <span id="grade-percentage"></span>%</p>
                        <p ><span id="remarks"></span></p>
                    </div>
    
                    <div class="modal-button-container">
                        <button onclick="closeScoreModal()">Continue</button>
                    </div>
    
                </div>
            </div>
    <!-- end of modal of quiz details-->
    
            <div class="game-quiz-container">
    
                <div class="game-details-container">
                    <h1>Score : <span id="player-score"></span> / 5</h1>
                    <h1> Question : <span id="question-number"></span> / 5</h1>
                </div>
    
                <div class="game-question-container">
                    <h1 id="display-question"></h1>
                </div>
    
                <div class="game-options-container">
    
     
    
                    <span>
                        <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
                        <label for="option-one" class="option" id="option-one-label"></label>
                    </span>
    
    
                    <span>
                        <input type="radio" id="option-two" name="option" class="radio" value="optionB" />
                        <label for="option-two" class="option" id="option-two-label"></label>
                    </span>
    
    
                    <span>
                        <input type="radio" id="option-three" name="option" class="radio" value="optionC" />
                        <label for="option-three" class="option" id="option-three-label"></label>
                    </span>
    
    
                    <span>
                        <input type="radio" id="option-four" name="option" class="radio" value="optionD" />
                        <label for="option-four" class="option" id="option-four-label"></label>
                    </span>
    
    
                </div>
    
                <div class="next-button-container">
                    <!-- 문제 아래 Next Question 버튼 -->
                    <button onclick="handleNextQuestion()">Next Question</button>
                    
                </div>
    
            </div>
                {% for level in part.levels %}
                    <section id="lvl-{{forloop.counter0}}" class="level">
                        <h3>{{level.type}}</h3>
                        {{level.content|safe}}
                        {% if level.type == "CODE" %}
                            <pre><code class="language-{{level.lang}}" contenteditable="true">{{level.startcode}}</code></pre>
                        {% elif level.type == "QUIZ" %}<br>
                            {% for ans in level.answers %}
                                {% if ans.valid %}
                                    <input type="checkbox" disabled checked>{{ans.content}}<br>
                                {% else %}
                                    <input type="checkbox" disabled>{{ans.content}}<br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
            
                    </section>
                {% empty %}
                    <p>No sections in this part</p>
                {% endfor %}
        </main>
    
    </div>
    {% endblock %}