{% extends './layout.html' %}
{% load static %}
{% block title %}
  quiz
{% endblock %}

{% block head %}
  <link href="{% static 'popcode/css/quiz.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav %}
  <div>
    <div class="container">
      <img class="corn" src="{% static 'popcode/images/corn.png' %}" />
      <h3 class="day">Day 2</h3>
    </div>

    <main>
      <!-- 문제 끝났을때 모달 -->

      <div class="modal-container" id="score-modal">
        <div class="modal-content-container">
          <h1>Congratulations, Quiz Completed.</h1>

          <div class="grade-details">
            <p>Attempts : 5</p>
            <p>
              Wrong Answers : <span id="wrong-answers"></span>
            </p>
            <p>
              Right Answers : <span id="right-answers"></span>
            </p>
            <p>
              Grade : <span id="grade-percentage"></span>%
            </p>
            <p>
              <span id="remarks"></span>
            </p>
          </div>

          <div class="modal-button-container">
            <button onclick="closeScoreModal()">Continue</button>
          </div>
        </div>
      </div>
      <!-- end of modal of quiz details -->

      <div class="game-quiz-container">
        <div class="game-details-container">
          <h1>Slide <span id="actual-slide-indicator">1</span>/{{ part.levels|length }}</h1>
          <progress id="actual-slide-progress" max="{{ part.levels|length }}" min="1"></progress>
        </div>

        <div class="game-question-container">
          {% for level in part.levels %}
            <section id="lvl-{{ forloop.counter0 }}" class="level">
              <h3>{{ level.type }} ----> {{ forloop.counter0 }}</h3>
              {{ level.content|safe }}
              {% if level.type == 'CODE' %}
                <pre>
                  <code class="language-{{ level.lang }}" contenteditable="true">{{ level.startcode }}</code>
                </pre>
              {% elif level.type == 'QUIZ' %}
                <br />
                <div style="display:flex;flex-direction: column;">
                  {% for ans in level.answers %}
                    <span class="check" data-index="{{ forloop.counter0 }}"><input type="checkbox" />{{ ans.content }}<br /></span>
                  {% endfor %}
                </div>
              {% endif %}
            </section>
          {% empty %}
            <p>No sections in this part</p>
          {% endfor %}
        </div>

        <div class="next-button-container">
          <button id="prev-btn">Previous</button>
          <button id="next-btn">Next Question</button>
        </div>
      </div>
    </main>
  </div>
  <script>let parts = {{part|safe}};</script>
  <script src="{% static 'popcode/js/quiz.js' %}"></script>
{% endblock %}
