{% extends './layout.html' %}
{% load static %}
{% block title %}
  PopCode🍿 - Quiz ✅
{% endblock %}

{% block head %}
  <link href="{% static 'popcode/css/quiz.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav %}
  <script>
    // Get the CSRF token
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
  </script>

  <div>
    <div class="container">
      <img class="corn" src="{% static 'popcode/images/corn.png' %}" />
      <h3 class="day">{{ lessonTitle }}</h3>
      <h3 class="day">-{{ part.title }}</h3>
    </div>

    <main>
      <div class="game-quiz-container">
        <div class="game-details-container">
          <h1 id="lvl-type">EXPLAINATION</h1>
          <div class="progbar">
            <span id="actual-slide-indicator">1</span>
            <progress id="actual-slide-progress" max="{{ part.levels|length }}" min="1"></progress>
            <span>{{ part.levels|length }}</span>
          </div>
        </div>

        <div class="game-question-container">
          {% for level in part.levels %}
            <section id="lvl-{{ forloop.counter0 }}" class="level">
              {{ level.content|safe }}

              {% if level.type == 'CODE' %}
                <h3>Write your own code</h3>
                <div class="codeInputCt">
                  <textarea id="codeInput-{{ forloop.counter0 }}" spellcheck="false" class="codeInput">{{ level.startcode }}</textarea>
                  <pre class="codeRender">
                    <code class="language-{{ level.lang }}" id="code-{{ forloop.counter0 }}">{{ level.startcode }}</code>
                  </pre>
                </div>
                <button class="run" id="codeSubmit-{{ forloop.counter0 }}">RUN (it may take some time)</button>
                <h3>Last code results</h3>
                <div class="codeWindow">
                  <span id="returnCode-{{ forloop.counter0 }}">🧑‍💻 Write some code, then run it to see results !</span>
                  <pre class="codeWindowTitle">stdout</pre>
                  <pre class="language-bash codeWindowLog">
                    <code id="stdout-{{ forloop.counter0 }}"></code>
                  </pre> <br />
                  <pre class="codeWindowTitle">stderr</pre>
                  <pre class="language-bash codeWindowLog">
                    <code id="stderr-{{ forloop.counter0 }}"></code>
                  </pre>
                </div>

                <script>
                  document.querySelector('#codeInput-{{forloop.counter0}}').addEventListener('input', (e) => {
                    document.querySelector('#code-{{forloop.counter0}}').dataset.highlighted = ''
                    document.querySelector('#code-{{forloop.counter0}}').innerHTML = document.querySelector('#codeInput-{{forloop.counter0}}').value
                    hljs.highlightElement(document.querySelector('#code-{{forloop.counter0}}'))
                    // Tab insert tabs instead of moving to the next element
                  })
                  document.querySelector('#codeSubmit-{{forloop.counter0}}').addEventListener('click', () => {
                    document.querySelector('#codeSubmit-{{forloop.counter0}}').disabled = true
                    if (document.querySelector('#code-{{forloop.counter0}}').innerText) {
                      fetch("{% url 'apiRun' %}", {
                        method: 'POST',
                        headers: {
                          'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({ code: document.querySelector('#code-{{forloop.counter0}}').innerText + `\n{{level.testcase}}`, lang: `{{level.lang}}` })
                      })
                        .then((res) => (res.ok ? res.json() : console.error(res)))
                        .then((data) => {
                          document.querySelector('#codeSubmit-{{forloop.counter0}}').disabled = false
                          console.log(data)
                          let codeStatus = '✅ Code runned successfully ! You may go next !'
                          if (data.returnCode == 1) codeStatus = '❌ Code failed to run, please check your code !'
                          if (data.returnCode == 2) codeStatus = '⏲️ Your code took too much time !'
                          document.querySelector('#returnCode-{{forloop.counter0}}').textContent = codeStatus
                          document.querySelector('#stdout-{{forloop.counter0}}').textContent = data.stdout
                          document.querySelector('#stderr-{{forloop.counter0}}').textContent = data.stderr
                          canGoNext = data.returnCode === 0
                          nextBtn.disabled = !canGoNext
                          nextBtn.innerText = canGoNext ? 'Next' : 'Solve the code challenge !'
                        })
                        .catch(console.error)
                    }
                  })
                </script>
              {% elif level.type == 'QUIZ' %}
                <br />
                <div id="answerGrid">
                  {% for ans in level.answers %}
                    <span class="check" data-index="{{ forloop.counter0 }}">
                      <input type="checkbox" id="check-{{ forloop.parent.counter0 }}-{{ forloop.counter0 }}" />
                      <label for="check-{{ forloop.parent.counter0 }}-{{ forloop.counter0 }}">{{ ans.content }}</label>
                    </span>
                  {% endfor %}
                </div>
              {% endif %}
            </section>
          {% empty %}
            <p>No sections in this part</p>
          {% endfor %}
        </div>

        <div class="next-button-container">
          <button id="prev-btn">Previous</button>
          <button id="next-btn">Next Question</button>
        </div>
      </div>
    </main>
  </div>

  <script>
    var parts = {{ part|safe }}
  </script>
  <script src="{% static 'popcode/js/quiz.js' %}"></script>
{% endblock %}
