{% extends './layout.html' %}
{% load get_item %}
{% include './components/alert.html' %}

{% load static %}

{% block title %}
PopCode🍿 - For You 😎
{% endblock %}

{% block head %}
  <link href="{% static 'popcode/css/readypage.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav %}
  <div class="title">
    <img src="{% static 'popcode/images/popcode.svg' %}" />
    <h1>For You</h1>
  </div>

    {% for lesson in lessons %}
        <h1 class="lessontitle">{{lesson.title}}</h1>
        <p class="lessondescription">{{lesson.description}}</p>
    <div class="daycontainer">
      <div class="link-container">
        {% for part in lesson.parts %}
        {% if user.progress|get_item:lesson.title is not None and user.progress|get_item:lesson.title >= forloop.counter0 %}
        <a href="{% url 'part' lesson.title forloop.counter0 %}"><img src="{% static 'popcode/images/popcorn.png' %}" /></a>
        {% else %}
        <a href="{% url 'part' lesson.title forloop.counter0 %}"><img src="{% static 'popcode/images/corn.png' %}" /></a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="link-container">
        {% for part in lesson.parts %}
        <p class="parttitle">{{part.title}}</p>
        {% endfor %}
        
      </div>

    </div>
  {% endfor %}
{% endblock nav %}
