{% extends './layout.html' %}

{% load static %}

{% block title %}
  readypage
{% endblock %}

{% block head %}
  <link href="{% static 'popcode/css/readypage.css' %}" rel="stylesheet" />
{% endblock %}

{% block nav %}
  <div class="title">
    <img src="{% static 'popcode/images/popcode.svg' %}" />
    <h1>For You</h1>
  </div>

  {% comment %} <a href="quiz.html"><button class="button">Get Started</button></a> {% endcomment %}

  {% comment %} <div style="margin: 3% auto; width: 600px; height: 70px; background-color: rgba(185, 109, 23, 0.219);">
    <div style="text-align: center; font-size: 50px; width: 150px; height: 70px; background-color: rgba(226, 118, 17, 0.596);">25%</div> {% endcomment %}

    {% for lesson in lessons %}
        <h1>{{lesson.title}}</h1>
        <p>{{lesson.description}}</p>
    <div class="daycontainer">
      <div class="link-container">
        {% for part in lesson.parts %}
        <a href="{% url 'part' lesson.title forloop.counter0 %}"><img src="{% static 'popcode/images/popcorn.png' %}" /></a>
        {% endfor %}
      </div>
      <div class="link-container">
        {% for part in lesson.parts %}
        <p>{{part.title}}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock nav %}
