{% extends "./layout.html" %}
{% load static %}
{% block title %}settings{% endblock %}


{% block head %}
<link href="{% static 'popcode/css/settings.css' %}" rel="stylesheet">
{% endblock head %}

{% block nav %}
    <div class="main_container">

        <div class="deco_container">
            <img src="{% static 'popcode/images/deco_1.png' %}">
        </div>

        <div class="contents_container">
            <h1>User Information</h1>
            {% if request.session.username and request.session.token %}

            <form action="{% url 'apiEditUser' %}" method="post">
              {% csrf_token %}
              <p>Username:</p>
              <input type="text" name="username" placeholder="Username" value="{{ request.session.username }}" />
              <p>Email:</p>
              <input type="text" name="email" id="email" placeholder="Email" value="{{ request.session.email }}" />
              <p>Password:<p/>
              <input type="password" name="password" placeholder="Current Password" />
              <p>New Password:<p/>
             <input type="password" name="newPassword" placeholder="New Password (keep empty to don't edit)" />
              <button type="submit">Edit</button><br />
              <a href="{% url 'apiLogout' %}">Logout</a>
            </form>
          {% else %}
            <p>You need to login to edit your profile</p>
          {% endif %}
        </div>
    </div>
    <script src="settings.js"></script>
    {% endblock nav %}