{% comment %} {% extends "./layout.html" %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}settings{% endblock %}s</title>
    {% block nav %}

    <link rel="stylesheet" href="settings.css">
    <link href="{% static 'popcode/css/settings.css' %}" rel="stylesheet">
</head>


    <div class="menu_container">
        <img src="{% static 'popcode/images/popcode.svg' %}" >
        <a href="readypage.html">Home</a>
        <a href="settings.html">Settings</a>
        <a href="https://cs50.harvard.edu/web/2020/weeks/0/">Reference</a>
        <a href="">link</a>
        <a href="contact.html">Contact</a>
        <div class="logout_container">
            <button type="button" onclick="handleLogout()" class="logout">Log Out</button>
        </div>
    </div>

    <div class="main_container">

        <div class="deco_container">
            <img src="{% static 'popcode/images/deco_1.png' %}">
        </div>

        <div class="contents_container">
            <h1>User Information</h1>

            <form id="settingsForm">
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" disabled>
                </div>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" disabled>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" disabled>
                </div>
                <div class="form-buttons">
                    <button type="button" id="editButton">Edit</button>
                    <button type="submit" id="saveButton" disabled>Save</button>
                </div>
            </form>
        </div>
    </div>
    <script src="settings.js"></script>
{% endblock %}
</html>