.element-home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element-home .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1288px;
    position: relative;
  }
  
  .element-home .fun-fact {
    position: absolute;
    width: 1920px;
    height: 328px;
    top: 960px;
    left: 0;
    backdrop-filter: blur(40px) brightness(100%);
    -webkit-backdrop-filter: blur(40px) brightness(100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
  
  .element-home .content {
    position: relative;
    width: 1173px;
    height: 128px;
    top: 100px;
    left: 375px;
  }
  
  .element-home .customer {
    position: absolute;
    width: 244px;
    height: 128px;
    top: 0;
    left: 929px;
  }
  
  .element-home .customers {
    position: absolute;
    width: 84px;
    height: 106px;
    top: 18px;
    left: 164px;
  }
  
  .element-home .text-wrapper {
    position: absolute;
    top: 74px;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #5d587a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 3px;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #322b5c;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 62.4px;
    white-space: nowrap;
  }
  
  .element-home .icon {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
  }
  
  .element-home .overlap-group {
    position: relative;
    height: 128px;
    border-radius: 40px;
  }
  
  .element-home .rounded-rectangle {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    background-color: #6dedc3;
    border-radius: 40px;
    box-shadow: 14px 20px 48px #180f2c05;
    opacity: 0.2;
  }
  
  .element-home .icon-user {
    position: absolute;
    width: 59px;
    height: 64px;
    top: 32px;
    left: 35px;
  }
  
  .element-home .total-download {
    position: absolute;
    width: 294px;
    height: 128px;
    top: 0;
    left: 442px;
  }
  
  .element-home .total-download-2 {
    position: absolute;
    width: 134px;
    height: 106px;
    top: 18px;
    left: 164px;
  }
  
  .element-home .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: #322b5c;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 62.4px;
    white-space: nowrap;
  }
  
  .element-home .rounded-rectangle-2 {
    background-color: #fdba09;
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    border-radius: 40px;
    box-shadow: 14px 20px 48px #180f2c05;
    opacity: 0.2;
  }
  
  .element-home .icon-users {
    position: absolute;
    width: 55px;
    height: 64px;
    top: 32px;
    left: 36px;
  }
  
  .element-home .active-user {
    position: absolute;
    width: 273px;
    height: 128px;
    top: 0;
    left: 0;
  }
  
  .element-home .active-user-2 {
    position: absolute;
    width: 113px;
    height: 106px;
    top: 18px;
    left: 164px;
  }
  
  .element-home .text-wrapper-4 {
    position: absolute;
    top: 74px;
    left: 7px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #5d587a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .rounded-rectangle-3 {
    background-color: #c06ef3;
    position: absolute;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    border-radius: 40px;
    box-shadow: 14px 20px 48px #180f2c05;
    opacity: 0.2;
  }
  
  .element-home .header {
    position: absolute;
    width: 2010px;
    height: 987px;
    top: -27px;
    left: -90px;
    background-color: transparent;
  }
  
  .element-home .overlap {
    position: relative;
    width: 2010px;
    height: 987px;
  }
  
  .element-home .base {
    position: absolute;
    width: 1920px;
    height: 960px;
    top: 27px;
    left: 90px;
    backdrop-filter: blur(40px) brightness(100%);
    -webkit-backdrop-filter: blur(40px) brightness(100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  }
  
  .element-home .element {
    position: absolute;
    width: 494px;
    height: 975px;
    top: 0;
    left: 0;
  }
  
  .element-home .dots {
    position: absolute;
    width: 204px;
    height: 114px;
    top: 861px;
    left: 0;
    opacity: 0.3;
  }
  
  .element-home .group {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 0;
    left: 90px;
  }
  
  .element-home .img {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 18px;
    left: 90px;
  }
  
  .element-home .group-2 {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 36px;
    left: 90px;
  }
  
  .element-home .group-3 {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 54px;
    left: 90px;
  }
  
  .element-home .group-4 {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 72px;
    left: 90px;
  }
  
  .element-home .group-5 {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 90px;
    left: 90px;
  }
  
  .element-home .group-6 {
    position: absolute;
    width: 114px;
    height: 6px;
    top: 108px;
    left: 90px;
  }
  
  .element-home .vector {
    position: absolute;
    width: 80px;
    height: 106px;
    top: 27px;
    left: 90px;
  }
  
  .element-home .image {
    position: absolute;
    width: 188px;
    height: 188px;
    top: 264px;
    left: 306px;
    object-fit: cover;
  }
  
  .element-home .card-screens {
    position: absolute;
    width: 1005px;
    height: 627px;
    top: 232px;
    left: 999px;
  }
  
  .element-home .overlap-2 {
    position: relative;
    height: 669px;
    top: -3px;
  }
  
  .element-home .vector-2 {
    position: absolute;
    width: 188px;
    height: 215px;
    top: 77px;
    left: 140px;
  }
  
  .element-home .dots-2 {
    position: absolute;
    width: 204px;
    height: 132px;
    top: 466px;
    left: 0;
    opacity: 0.3;
  }
  
  .element-home .group-7 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 0;
    left: 0;
  }
  
  .element-home .group-8 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 18px;
    left: 0;
  }
  
  .element-home .group-9 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 36px;
    left: 0;
  }
  
  .element-home .group-10 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 54px;
    left: 0;
  }
  
  .element-home .group-11 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 72px;
    left: 0;
  }
  
  .element-home .group-12 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 90px;
    left: 0;
  }
  
  .element-home .group-13 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 108px;
    left: 0;
  }
  
  .element-home .group-14 {
    position: absolute;
    width: 204px;
    height: 6px;
    top: 126px;
    left: 0;
  }
  
  .element-home .rectangle {
    position: absolute;
    width: 627px;
    height: 627px;
    top: 3px;
    left: 378px;
    background-color: #fdba09;
    border-radius: 0px 750px 0px 0px;
    opacity: 0.05;
  }
  
  .element-home .kit {
    position: absolute;
    width: 359px;
    height: 279px;
    top: 282px;
    left: 100px;
  }
  
  .element-home .sticks-wrapper {
    position: relative;
    width: 479px;
    height: 399px;
    top: -24px;
    left: -60px;
    background-image: url(./img/image-1.png);
    background-size: 100% 100%;
  }
  
  .element-home .sticks {
    position: relative;
    width: 242px;
    height: 113px;
    top: 104px;
    left: 140px;
  }
  
  .element-home .group-15 {
    position: absolute;
    width: 8px;
    height: 90px;
    top: 23px;
    left: 0;
  }
  
  .element-home .rectangle-2 {
    height: 70px;
    top: 0;
    background-color: #5a47cd;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .rectangle-3 {
    height: 20px;
    top: 70px;
    background-color: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .group-16 {
    position: absolute;
    width: 8px;
    height: 103px;
    top: 10px;
    left: 39px;
  }
  
  .element-home .rectangle-4 {
    height: 83px;
    top: 0;
    background-color: #5a47cd;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .rectangle-5 {
    height: 20px;
    top: 83px;
    background-color: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .group-17 {
    position: absolute;
    width: 8px;
    height: 78px;
    top: 35px;
    left: 78px;
  }
  
  .element-home .rectangle-6 {
    position: absolute;
    width: 8px;
    height: 58px;
    top: 0;
    left: 0;
    background-color: #5a47cd;
    border-radius: 5px 5px 0px 0px;
  }
  
  .element-home .rectangle-7 {
    position: absolute;
    width: 8px;
    height: 20px;
    top: 58px;
    left: 0;
    background-color: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
  }
  
  .element-home .group-18 {
    position: absolute;
    width: 8px;
    height: 68px;
    top: 45px;
    left: 117px;
  }
  
  .element-home .rectangle-8 {
    height: 48px;
    top: 0;
    background-color: #5a47cd;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .rectangle-9 {
    height: 20px;
    top: 48px;
    background-color: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .group-19 {
    position: absolute;
    width: 8px;
    height: 90px;
    top: 23px;
    left: 153px;
  }
  
  .element-home .group-20 {
    position: absolute;
    width: 8px;
    height: 78px;
    top: 35px;
    left: 194px;
  }
  
  .element-home .group-21 {
    position: absolute;
    width: 8px;
    height: 113px;
    top: 0;
    left: 234px;
  }
  
  .element-home .rectangle-10 {
    height: 93px;
    top: 0;
    background-color: #5a47cd;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .rectangle-11 {
    height: 20px;
    top: 93px;
    background-color: #e1e1e1;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 8px;
    left: 0;
  }
  
  .element-home .image-2 {
    position: absolute;
    width: 378px;
    height: 316px;
    top: 0;
    left: 288px;
  }
  
  .element-home .image-3 {
    position: absolute;
    width: 337px;
    height: 94px;
    top: 274px;
    left: 509px;
  }
  
  .element-home .image-4 {
    position: absolute;
    width: 307px;
    height: 255px;
    top: 414px;
    left: 469px;
  }
  
  .element-home .content-2 {
    position: absolute;
    width: 628px;
    height: 414px;
    top: 358px;
    left: 465px;
  }
  
  .element-home .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 18px 32px;
    position: absolute;
    top: 351px;
    left: 0;
    background-color: #8976fd;
    border-radius: 15px;
  }
  
  .element-home .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .element-home .texts {
    position: absolute;
    width: 632px;
    height: 311px;
    top: 0;
    left: 0;
  }
  
  .element-home .an-enim-nullam {
    position: absolute;
    width: 465px;
    top: 239px;
    left: 0;
    opacity: 0.8;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #1c0e0d;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .element-home .committed-to-people {
    position: absolute;
    width: 628px;
    top: 0;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 56px;
    letter-spacing: 0;
    line-height: 72.8px;
  }
  
  .element-home .span {
    color: #322b5c;
  }
  
  .element-home .text-wrapper-6 {
    color: #8976fd;
  }
  
  .element-home .logo-menu-bar {
    position: absolute;
    width: 1165px;
    height: 59px;
    top: 69px;
    left: 465px;
  }
  
  .element-home .login-signup {
    position: absolute;
    width: 215px;
    height: 59px;
    top: 0;
    left: 952px;
  }
  
  .element-home .frame {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 32px;
    position: absolute;
    top: 0;
    left: 85px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #8976fd;
  }
  
  .element-home .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #8976fd;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .element-home .text-wrapper-8 {
    position: absolute;
    top: 16px;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 700;
    color: #8976fd;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .element-home .menu {
    position: absolute;
    width: 475px;
    height: 32px;
    top: 14px;
    left: 350px;
  }
  
  .element-home .text-wrapper-9 {
    position: absolute;
    top: 0;
    left: 385px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #322b5c;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .blog {
    position: absolute;
    width: 60px;
    height: 32px;
    top: 0;
    left: 303px;
  }
  
  .element-home .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #322b5c;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .down-arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    left: 42px;
  }
  
  .element-home .services {
    position: absolute;
    width: 90px;
    height: 32px;
    top: 0;
    left: 191px;
  }
  
  .element-home .down-arrow-2 {
    left: 72px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
  }
  
  .element-home .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 93px;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #322b5c;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .home {
    position: absolute;
    width: 71px;
    height: 32px;
    top: 0;
    left: 0;
  }
  
  .element-home .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Nunito Sans", Helvetica;
    font-weight: 400;
    color: #8976fd;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
  }
  
  .element-home .down-arrow-3 {
    left: 53px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
  }
  
  .element-home .logo {
    position: absolute;
    width: 179px;
    height: 40px;
    top: 10px;
    left: 0;
  }
  